<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title th:text="${name}"></title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="layuiadmin/style/admin.css" media="all">
	<link rel="stylesheet" href="layuiadmin/style/login.css" media="all">
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon" />
	<style>
	   html,body{
		height: 100%;
		width: 100%;
	  }
	  .login{
		background-repeat:no-repeat;
		background-position:center;
		background-size: 80%  90%;
		border-radius: 10px;
		border: 0.1px solid #fff;
		z-index: 10;
		box-shadow: -7px 0px 100px 23px rgba(36, 102, 152);
		background-image: url('/image/background/login_background.jpg');

	  }
	</style>
	<script src="js/MD5.js"></script>

</head>

<body class="login">
	<div class="backgroudBg">
		<!-- BEGIN LOGIN -->
		<div class="content">
			<!-- BEGIN LOGIN FORM -->
			<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
				<!-- <div class="Toplog">
							<h1>数字化干部人事档案系统</h1>
						</div> -->
				<div class="layadmin-user-login-main">
					<div class="layadmin-user-login-box layadmin-user-login-body layui-form">
						
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-username"
								for="LAY-user-login-username"></label> <input type="text" autocomplete="off"
								name="userName" id="LAY-user-login-username" lay-verify="required" placeholder="用户名"
								class="layui-input">
						</div>
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-password"
								for="LAY-user-login-password"></label> <input type="password" name="passWord"
								id="LAY-user-login-password" lay-verify="required" autocomplete="off" placeholder="密码"
								class="layui-input">
						</div>
						<div class="layui-form-item">
							<button class="layui-btn layui-btn-fluid" lay-submit
								lay-filter="LAY-user-login-submit">登陆</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div>

	<script src="layuiadmin/layui/layui.js"></script>
	<script>

		layui.config({
			base: 'layuiadmin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'user'], function () {
			var $ = layui.$,
				setter = layui.setter,
				form = layui.form,
				router = layui.router(),
				search = router.search;
			form.render();

			//提交
			form.on('submit(LAY-user-login-submit)', function (obj) {
				var index = layer.load(1);
				// 加密前的原文
				var passWord = $("#LAY-user-login-password").val();
				var jsonData = {
					"loginName": $("#LAY-user-login-username").val(),
					"passwordMd5": hex_md5(passWord)
				};
				$.ajax({
					url: "/login",
					data: jsonData,
					type: "post",
					dataType: "json",
					success: function (data) {
						if (!data.success)
							icontype = 2;
						else {
							icontype = 16;
						}
						layer.msg(data.msg, {
							offset: ['10%', '45%'],//设置位移
							icon: icontype,
							time: 500
						}, function () {
							if (data.success) {
								location.href = data.indexUrl; //后台主页
							}
						});
					},

					error: function (data) {
						layer.msg("登录超时，请重新登录或联系系统管理员！", { icon: 2 });
					}, complete: function () {
						layer.close(index);
					}
				});

			});
		});
	</script>
</body>

</html>