<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:include="public :: header('人事档案阅档端管理系统登录入口')" />
	<style>
		html,
		body {
			height: 100%;
			width: 100%;
		}

		.login {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			/* border: 0.1px solid #fff; */
			z-index: 10;
			background-image: url("/image/background/login_background.jpg");
		}
	</style>
</head>

<body class="login">
	<div class="backgroudBg">
		<div class="layadmin-user-login-main">
			<div class="layadmin-user-login-box layadmin-user-login-body layui-form">
				<div class="layui-form-item">
					<label style="font-size: 18px;color: #1e9fff;font-weight: bolder;font-family: 宋体;">登录</label>
					<hr size="15px" />
				</div>
				<div class="layui-form-item">
					<label class="layadmin-user-login-icon layui-icon layui-icon-username"
						for="LAY-user-login-username"></label>
					<input type="text" autocomplete="on" name="userName" id="LAY-user-login-username"
						lay-verify="required" placeholder="用户名" class="layui-input" />
				</div>
				<div class="layui-form-item">
					<label class="layadmin-user-login-icon layui-icon layui-icon-password"
						for="LAY-user-login-password"></label>
					<input type="password" name="passWord" id="LAY-user-login-password" lay-verify="required"
						autocomplete="on" placeholder="密码" class="layui-input" />
				</div>
				<div class="layui-form-item">
					<button class="layui-btn layui-btn-fluid" @click="login" lay-submit
						lay-filter="LAY-user-login-submit" id="loginTo">
						登陆 
					</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		layui
			.config({
				base: "layuiadmin/" //静态资源所在路径
			})
			.extend({
				index: "lib/index" //主入口模块
			})
			.use(["index", "user"], function () {
				var $ = layui.$,
					setter = layui.setter,
					form = layui.form,
					router = layui.router(),
					search = router.search;
				 form.render();
				//提交
				// $("#LAY-user-login-username")
				// 	.val(" ")
				// 	.focus();
				function login() {

					var username = $("#LAY-user-login-username").val();
					// 加密前的原文
					var passWord = $("#LAY-user-login-password").val().trim();
			
					var jsonData = {
						loginName: username.trim(),
						passwordMd5: hex_md5(passWord)
					};
		
					if (username.trim() != "" &&passWord != ""
					) {
						var index;
						$.ajax({
							url: "/login",
							data: jsonData,
							type: "post",
							dataType: "json",
							success: function (data) {
								if (!data.success) 
								 icontype = 2;
								else {
									icontype = 16;
								}
								// index = layer.load(0, { shade: false });
								layer.msg(
									data.msg,
									{
										offset: ["10%", "45%"], //设置位移
										icon: icontype,
										time: 1000
									},
									function () {
										if (data.success) {
										
											location.href = data.indexUrl; //后台主页
										}
									}
								);
							},
							error: function (data) {
								layer.msg("登录超时，请重新登录或联系系统管理员！", {
									icon: 2
								});
							},
							complete: function () {
								layer.close(index);
							}
						});
					} else {
						layer.msg("账号/密码不能为空！", { icon: 2 });
					}
				}


			$('#LAY-user-login-username').on('keydown', function (event) {
                   if (event.keyCode == 13) {
					   $("#LAY-user-login-password").val("").focus();
					   return false
				  }
			});

			$('#LAY-user-login-password').on('keydown', function (event) {
                   if (event.keyCode == 13) {
					   login();
					   return false
				  }
			});

			$("#loginTo").click(function(){
		        login();
	    	})
		});
	</script>
</body>

</html>