<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>机构列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="/css/zTreeStyle.css" media="all">
  <link rel="stylesheet" href="/css/metroStyle.css" type="text/css">
  <style>
    .ztree li a {
      height: 25px;
    }

    .ztree * {
      font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    }

    .layui-table-cell {
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      position: relative;
      box-sizing: border-box;
    }

    .layui-table,
    .layui-table-view {
      margin: unset;
    }

    html,
    body {
      width: 100%;
      height: 100%;
    }

    .container {
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      display: inline-flex;
    }

    .leftTree {
      width: 320px;
      height: 100%;
      border-right: solid 1px #efefef;
      ;
    }

    .ztree {
      height: calc(100% - 51px);
      overflow: auto;
    }

    .rightGrid {
      width: calc(100% - 320px);
      height: 100%;
    }

    .deptTableSearch {
      width: calc(100% - 180px);
      text-align: right;
    }
  </style>


</head>

<body>
  <div class="container">

    <div class="leftTree">
      <div th:if="${hiddenType}"  style="width: 100%;
                                height: 40px;
                                text-align: center;
                                border-bottom: solid 1px #efefef;
                            "><span style="
                                line-height: 40px;
                                font-size: 16px;
                            ">单位机构树</span></div>
      <ul id="deptTree" class="ztree"></ul>
    </div>

    <div class="rightGrid" th:if="${hiddenType}">
      <div style="width: 100%;
          height: 40px;
          text-align: center;
          display: inline-flex;
          align-items: center;
      ">
        <div class="deptTableToolbar" style="width:28%;">
          <button class="layui-btn" data-type="add">添加</button>
          <button class="layui-btn" data-type="batchdel">批量删除</button>
          <button class="layui-btn" data-type="upMove">上移</button>
          <button class="layui-btn" data-type="downMove">下移</button>
        </div>
        <div class="deptTableSearch layui-form">
          <input type="text" name="name" id="unitName" placeholder="请输入机构名称" autocomplete="off" class="layui-input"
            style="display: inline-block;width: auto;">
          <div class="layui-form-item" style="display: inline-block;width: auto;text-align: left;margin:0;">
            <select name="unitType">
              <option value="" selected="true">请选择</option>
              <option value="0">法人单位</option>
              <option value="1">内设部门</option>
              <option value="2">机构分组</option>
            </select>
          </div>

          <button class="layui-btn" lay-submit lay-filter="dept-front-search"> 搜索</button>
        </div>
      </div>
      <table id="deptList" lay-filter="deptList" class="layui-hide"> </table>
      <script type="text/html" id="barDemo" th:inline="none">
                 <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                 <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
  <input type="hidden" id="deptId">
  <input type="hidden" id="deptName">
  <script src="/js/jquery-1.4.4.min.js" type="text/javascript" th:inline="none"></script>
  <script src="/js/jquery.ztree.core.js" type="text/javascript" th:inline="none"></script>
  <script src="/layuiadmin/layui/layui.js" type="text/javascript" th:inline="none"></script>
  <script type="text/javascript" th:inline="javascript">
    //Ztree
    function zTreeOnClick(event, treeId, treeNode) {
      if (treeNode.id != '' || treeNode.id != 'undefined') {
        window.tableObj.reload('deptList', {
          where: {
            id: treeNode.id
          },
        }, 'data');
        $("#deptId").val(treeNode.id);
        $("#deptName").val(treeNode.name);
      }
    }
    var newCount = 1;
    function addHoverDom(treeId, treeNode) {
      var sObj = $("#" + treeNode.tId + "_span");
      if (treeNode.editNameFlag || $("#addBtn_" + treeNode.tId).length > 0) return;
      var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
        + "' title='add node' onfocus='this.blur();'></span>";
      sObj.after(addStr);
      var btn = $("#addBtn_" + treeNode.tId);
      if (btn) btn.bind("click", function () {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        zTree.addNodes(treeNode, { id: (100 + newCount), pId: treeNode.id, name: "new node" + (newCount++) });
        return false;
      });
    };
    function removeHoverDom(treeId, treeNode) {
      $("#addBtn_" + treeNode.tId).unbind().remove();
    };



    $(document).ready(function () {
      var setting = {
        async: {
          enable: true,
          url: "/dept/unitTree",
          autoParam: ["id=id"],
          contentType: "application/json"
        },
        data: {
          key: {
            name: "name",//节点显示的值
            isParent: "isParent"
          }
        },
        simpleData: {
          enable: true,//如果为true，可以直接把从数据库中得到的List集合自动转换为Array格式。而不必转换为json传递
          idKey: "id",//节点的id
          rootPId: 0,
          pIdKey: "parentId"//节点的父节点id
        },
        edit: {
          enable: true
        },
        view: {
          addHoverDom: addHoverDom,
          removeHoverDom: removeHoverDom,
          selectedMulti: false
        },
        callback: {
          onClick: zTreeOnClick
        }

      };
      window.zTreeObj = $.fn.zTree.init($("#deptTree"), setting);
    });
    layui.use(['table', 'form', 'util'], function () {
      var $ = layui.$
        , table = layui.table
        , util = layui.util
        , form = layui.form;
      window.tableObj = layui.table;

      //第一个实例
      table.render({
        elem: '#deptList'
        , height: "full-40"
        , even: true
        , title: '用户数据表'
        , method: 'post'
        , id: 'deptList'
        , url: '/dept/findUnitList' //数据接口
        , cols: [[ //表头
          { fixed: 'left', checkbox: true, align: 'center', LAY_CHECKED: false, filter: 'test' }
          , { fixed: 'left', type: 'numbers', width: 80, title: '序号' }
          , { fixed: 'left', field: 'name', title: '机构名称', width: 220 }
          , { field: 'shortName', title: '简称', width: 160 }
          , { field: 'unitTypeName', title: '机构类别', width: 120 }
          , { field: 'pipeTypeName', title: '管档类别', width: 120 }
          , {
            field: 'createTime', title: '创建时间', templet: function (time) {
              return "<div>" + layui.util.toDateString(Date(time.createTime, 'yyyy-MM-dd HH:mm:ss')) + "</div>";
            }
          }
          , { fixed: 'right', title: '操作', width: 250, align: 'center', toolbar: '#barDemo' }
        ]]
        , page: false
        , response: {
          statusName: 'code' //数据状态的字段名称，默认：code'<div>{{ layui.util.toDateString(d.starttime, "yyyy-MM-dd HH:mm:ss") }}</div>'
          , statusCode: 200 //成功的状态码，默认：0
          , msgName: 'msg' //状态信息的字段名称，默认：msg
          , countName: 'count' //数据总数的字段名称，默认：count
          , dataName: 'data' //数据列表的字段名称，默认：data
        }
        , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
          layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
          //,curr: 5 //设定初始在第 5 页
          , groups: 5 //只显示 1 个连续页码
          , limit: 20
          , first: true //不显示首页
          , last: true //不显示尾页
        }
      });



      //监听工具条删除
      table.on('tool(deptList)', function (obj) {
        var data = obj.data;
        console.log(data);
        //列表删除方法
        if (obj.event === 'del') {

          layer.confirm('真的删除行么', function (index) {
            layer.close(index);
            $.post("/dept/deleteUnit", { id: data.id }, function (resultJSONObject) {
              if (resultJSONObject.success) {

                obj.del();
                var node;
                if ($("#deptId").val() == data.id || $("#deptId").val() == data.parentId) {
                  node = zTreeObj.getNodeByParam("id", data.parentId, null);
                } else {
                  node = zTreeObj.getNodeByParam("id", 0, null);
                }
                zTreeObj.reAsyncChildNodes(node, "refresh"); 
                tableLoad(table);
              } 
              layer.msg(resultJSONObject.msg);
            }, "json");
          });


        } else if (obj.event === 'edit') {
          //open 方法合作共用json串
          layer.open({
            type: 2,
            title: '更新机构',
            maxmin: true
            , area: ['500px', '450px']
            , btn: ['确定', '取消']
            , shadeClose: false,
            shade: 0.2,
            content: '/dept/deptInfo?id=' + data.id,
            yes: function (index, layero) {
              var iframeWindow = window['layui-layer-iframe' + index]
                , submitID = 'deptconfirm'
                , submit = layero.find('iframe').contents().find('#' + submitID);
              //机构类型名称
              var unitTypeName = layero.find('iframe').contents().find('#unitType option:selected').text();
              //机构类别名称
              var pipeTypeName = layero.find('iframe').contents().find('#pipeType option:selected').text();
              //监听提交
              iframeWindow.layui.form.on('submit(' + submitID + ')', function (dataLog) {
                var field = dataLog.field;
                field.unitTypeName = unitTypeName;
                field.pipeTypeName = pipeTypeName;

                if (field.isPipe == "true")
                  field.isPipe = true;
                else
                  field.isPipe = false;
                //获取提交的字段
                //提交 Ajax 成功后，静态更新表格中的数据
                $.ajax({
                  url: "/dept/updateUnitTree",
                  data: JSON.stringify(field),
                  type: "post",
                  dataType: "json",
                  contentType: "application/json; charset=UTF-8",
                  success: function (resultJSONObject) {
                    if (resultJSONObject.success) {
                      var node = zTreeObj.getNodeByParam("id", field.parentId, null);
                      zTreeObj.reAsyncChildNodes(node, "refresh");
                      tableLoad(table);
                    } 
                    layer.msg(resultJSONObject.msg);
                  }
                });

                layer.close(index); //关闭弹层
              });
              submit.trigger('click');
            }
          });
        }
      });

      // 监听选中事件

      table.on("")





      //批量删除事件
      var active = {
        batchdel: function () {
          //两种方式
          var checkStatus = table.checkStatus('deptList')
            , checkData = checkStatus.data; //得到选中的数据
          if (checkData.length === 0) {
            return layer.msg('请选择数据');
          }
          //捉到所有被选中的，发异步进行删除
          var ids = "";
          if (checkData.length > 0) {
            for (var i = 0; i < checkData.length; i++) {
              ids += checkData[i].id + ",";
            }
          }
          layer.confirm('确定删除吗？', function (index) {
            //执行 Ajax 后重载
            $.ajax({
              type: "post",
              url: "/dept/deleteUnitAll",
              data: { "ids": ids },
              success: function (data) {
                if (data.success) {
                  var node = zTreeObj.getNodeByParam("id", 0, null);
                  zTreeObj.reAsyncChildNodes(node, "refresh");
                  tableLoad(table);
                
                }      
                 layer.msg(data.msg);
                
              }
            });
          });

        }
        , add: function () {
          layer.open({
            type: 2
            , title: $("#deptName").val() + "新增机构"
            , content: '/dept/deptInfo'
            , maxmin: true
            , moveType: 1 //拖拽模式，0或者1
            , area: ['500px', '450px']
            , skin: 'layer_bg' //layer_bg是自定义的css样式
            , shade: 0.2
            , fixed: true
            , shadeClose: true//开启遮罩关
            , btn: ['确定', '取消']
            , yes: function (index, layero) {
              var iframeWindow = window['layui-layer-iframe' + index]
                , submitID = 'deptconfirm'
                , submit = layero.find('iframe').contents().find('#' + submitID);
              //监听提交
              iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                var field = data.field; //获取提交的字段
                field.parentId = $("#deptId").val();
                //提交 Ajax 成功后，静态更新表格中的数据
                $.ajax({
                  type: "post",
                  url: "/dept/insertUnit",
                  data: JSON.stringify(field),
                  dataType: "json",
                  contentType: "application/json;charset-UTF-8",
                  success: function (resultJSONObject) {
                    if (resultJSONObject.success) {
                      var node = zTreeObj.getNodeByParam("id", field.parentId, null);
                      if (node !== null) {
                        var grandPanode = zTreeObj.getNodeByParam("id", node.parentId, null);
                        zTreeObj.reAsyncChildNodes(grandPanode, "refresh", false, function () {
                          zTreeObj.expandNode(zTreeObj.getNodeByParam("id", field.parentId, null), true, true, true);
                        });
                      } else {
                        zTreeObj.reAsyncChildNodes(null, "refresh");
                      }
                      tableLoad(table);
                    }      
                    layer.msg(resultJSONObject.msg);
                  }, complete: function () {
                    layer.close(index); //关闭弹层
                  }
                });
              });

              submit.trigger('click');
            }
          });
        }

      };

      //监听搜索查询条件
      form.on('submit(dept-front-search)', function (data) {
        var field = data.field;
        field.id = "";

        //执行重载
        table.reload('deptList', {
          where: field
        });
      });



      $('.layui-btn').on('click', function () {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });
    });


    function tableLoad(table) {
      table.reload('deptList', {
        where: {
          id: $("#deptId").val(),
          name: $("#unitName").val(),
        },
      }, 'data');
    }
  </script>
</body>

</html>