<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="public :: header('人事档案阅档端管理系统登录入口')" />

    <style>
        body {
            color: black;
        }
    </style>
</head>

<body>
    <div class="layui-row">
        <div class="layui-col-md12 " >
    
            <div class="layui-card">
                <div class="layui-card-body-inline" style="padding-bottom: 10px">
                 
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="position: relative;top: 10px;">在线数量:<span id="sum" th:text="${num}">0</span></label>
                            <label class="layui-form-label" style="position: relative;top: 10px;">在线人:</label>
                            <div   class="layui-input-block" style="position: relative;top: 10px;">
                                <input type="checkbox" th:each="user: ${users}" name="check" th:title="${user}" />
                            </div>
                        </div>
                    </form>

                    <div class="layui-form-item"  style="position: relative;top: 10px;">
                        <label class="layui-form-label">信息内容:</label>
                        <div class="layui-input-inline" style="width: 1300px">
                            <input id="msg" type="text" name="title" required lay-verify="required"
                                placeholder="请输入要发送的内容" autocomplete="off" class="layui-input" />
                        </div>
                        <button class="layui-btn" onclick="sendMsg()">发送</button>
                        <button class="layui-btn" onclick="sendAll()">全部发送</button>
                    </div>
                </div>
            </div>
            <div class="layui-card" style="margin-top: 5px">
                <div id="content" class="layui-card-body" placeholder="请输入要发送的内容"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        layui
            .config({
                base: "layuiadmin/" //静态资源所在路径
            })
            .extend({
                index: "lib/index" //主入口模块
            })
            .use(["index", "form"], function () {
                var form = layui.form;
            });

        function sendMsg() {
            var user = [];
            $("input[name='check']:checked").each(function (i) {
                //把所有被选中的复选框的值存入数组
                user = user + $(this).attr("title") + ",";
            });
          

            if (user.length > 0) {
                user = user.substr(0, user.length - 1);
            } else {
                console.log("未选中发送人");
                var content = $("#content").html();
                $("#content").html(
                    content +
                    '<div style="margin-bottom: 5px">\n' +
                    '                        <p><q style="color: red">' +
                    "系统提示:请在多选框中选择要发送的用户" +
                    "</span></p>\n" +
                    "                    </div>\n" +
                    "                    <br/>"
                );
                return;
            }

            var msg = $("#msg").val();
            if (msg != null) {
                $.ajax({
                    method: "get",
                    url: "/sendmsg",
                    data: {
                        username: user,
                        msg: msg
                    },
                    success: function (data) {
                        var content = $("#content").html();
                        $("#content").html(
                            content +
                            '<div style="margin-bottom: 5px">\n' +
                            '                        <p><q style="color: #eb7350">' +
                            "服务器推送  " +
                            msg +
                            " -->" +
                            user +
                            "</span></p>\n" +
                            "                    </div>\n" +
                            "                    <br/>"
                        );
                      
                    }
                });
            } else {
                alert("请填写要发送的用户昵称或者发送内容");
            }
        }

        function sendAll() {
            var msg = $("#msg").val();
            if (msg != null) {
                $.ajax({
                    method: "get",
                    url: "/sendAll",
                    data: {
                        msg: msg
                    },
                    success: function (data) {
                        var content = $("#content").html();
                        $("#content").html(
                            content +
                            '<div style="margin-bottom: 5px">\n' +
                            '                        <p><q style="color: #eb7350">' +
                            "服务器推送  " +
                            msg +
                            " --> 所有用户" +
                            "</span></p>\n" +
                            "                    </div>\n" +
                            "                    <br/>"
                        );
                     
                    }
                });
            } else {
                alert("请填写要发送的内容");
            }
        }
       var host = document.location.host;
        function connect() {
            if ("WebSocket" in window) {
                //ws = new WebSocket("ws://www.isuyu.cn:8086/socketServer/niezhiliang9595");
                ws = new WebSocket(
                    "ws://"+ host+"/socketServer/ThinkGem"
                );
            } else if ("MozWebSocket" in window) {
                //ws = new MozWebSocket("ws://www.isuyu.cn:8086/socketServer/niezhiliang9595");
                ws = new MozWebSocket(
                   "ws://" + host + "/socketServer/ThinkGem"
                );
            } else {
                alert("该浏览器不支持websocket");
            }
            ws.onmessage = function (evt) {
                var content = $("#content").html();
                $("#content").html(
                    content +
                    '<div style="text-align: right;margin-bottom: 5px">\n' +
                    '                        <p><q style="color: mediumorchid;text-align: right">' +
                    evt.data +
                    "</span></p>\n" +
                    "                    </div>\n" +
                    "                    <br/>"
                );
              
            };

            ws.onclose = function (evt) {
                // console.log("连接关闭");
            };

            ws.onopen = function (evt) {
                var content = $("#content").html();
                $("#content").html(
                    content +
                    '<div style="margin-bottom: 5px">\n' +
                    '                        <p><q style="color: #eb7350">' +
                    "服务器初始化成功..." +
                    "</span></p>\n" +
                    "                    </div>\n" +
                    "                    <br/>"
                );
                // console.log("连接成功");
            };
        }
        connect();
    </script>
</body>

</html>