<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="public :: header('人事档案阅档端管理系统')" />
  <link href="/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
  <script th:src="@{/js/jquery-1.4.4.min.js}"></script>
  <script>

  </script>
  <style>
    .layui-layout-admin .layui-logo {
        width: 423px;
        text-align: left;
    }
    .Toplog {
      width: 28px;
      height: 28px;
      float: left;
      margin-top: 10px;
      background-image: url(image/danghui.png);
      background-repeat: no-repeat;
      background-size: 28px 28px;
    }

    i {
      position: absolute;
      top: 72%;
      left: 20px;
      margin-top: -19px;
    }
    .layui-layout-admin .layui-layout-left .layui-nav-item {
        margin: 0px;
    }
    .fa-circle:before {
        content: "\f111";
        POSITION: relative;
        right: 24px;
        top: 3px;
        color: #51ff00;
    }
    .fa-sign-out:before {
      content: "\f08b";
      color: #ffe500;
    }
    i {
      position: absolute;
      top: 72%;
      left: 20px;
      margin-top: -19px;
    }

    .layui-nav .layui-nav-iT a {
        color: #ffffff;
        position: relative;
        padding: 14px;
        left: 45px;
        line-height: 30px;
    }
  </style>
</head>

<body class="layui-layout-body">

  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>

          <!-- <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li> -->
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;" layadmin-event="refresh" title="刷新">
                <i class="layui-icon layui-icon-refresh-3"></i>
              </a>
            </li>

          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="note">
              <i class="layui-icon layui-icon-note"></i>
            </a>
          </li>

          <li class="layui-nav-item" lay-unselect>
            <a lay-href="/webviews/app/message/index.html" layadmin-event="message" lay-text="消息中心">
              <i class="layui-icon layui-icon-notice"></i>

              <!-- 如果有新消息，则显示小圆点 -->
              <span class="layui-badge-dot"></span>
            </a>
          </li>

          <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
              <i class="layui-icon layui-icon-theme"></i>
            </a>
          </li> -->


          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img" />
              <cite style="color:#f9f6f6" th:text=" ${user.userRealName}"></cite></a>
            <dl class="layui-nav-child">
              <dd>
                <a th:attr="lay-href=@{'/user/personInfo?userId='+${user.userId}}">基本资料</a>
              </dd>
              <dd>
                <a lay-href="/webviews/set/user/password.html">修改密码</a>
              </dd>
              <hr />
              <dd layadmin-event="logout" style="text-align: center;">
                <a>退出</a>
              </dd>
            </dl>
          </li>



          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
        </ul>
      </div>

      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" layadmin-event="flexible">
            <div class="Toplog"></div>
            <span> &nbsp;干部人事档案系统 </span>
          </div>

          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
            lay-filter="layadmin-system-side-menu">
            <li class="layui-nav-iT">
              <a href="#"><i class="fa fa-circle text-success"></i> <cite>在线</cite></a>
              <a th:href="@{logout}" <i class="fa fa-sign-out text-danger"></i> <cite>注销</cite></a>
            </li>
            <!--ZHANGQI -->
            <li data-name="set" class="layui-nav-item" th:each="m : ${manuList}">
              <a th:attr="lay-tips=${m.functionName}" lay-direction="1" th:if="${m.pid eq '0'}">
                <i th:attr="class=${m.icon} "></i>
                <cite th:text="${m.functionName}"></cite>
              </a>
              <!-- 子菜单 -->

              <dl class="layui-nav-child" th:each="n:${manuList}">
                <dd class="layui-nav-itemed" th:if="${n.pid ne '0' and m.id eq n.pid}">
                  <a th:text="${n.functionName}" th:attr="lay-href=@{${n.url}}"></a>
                </dd>
              </dl>
            </li>

          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs">
                  <a href="javascript:;">关闭当前标签页</a>
                </dd>
                <dd layadmin-event="closeOtherTabs">
                  <a href="javascript:;">关闭其它标签页</a>
                </dd>
                <dd layadmin-event="closeAllTabs">
                  <a href="javascript:;">关闭全部标签页</a>
                </dd>
                <dd><button data-method="notice" class="layui-btn">示范一个公告层</button></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="/webviews/home/console.html" lay-attr="/webviews/home/console.html" class="layui-this">
              <i class="layui-icon layui-icon-home"></i>
            </li>
          </ul>
        </div>
      </div>

      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="/webviews/home/console.html" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>

      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
      <input type="hidden" id="userName" th:value="${userName}">
    </div>
  </div>


  <script>

    layui.config({
      base: 'layuiadmin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'layer'], function () {
      var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

      var ws = null;
      var username = $("#userName").val();
      var host = document.location.host;
      if ("WebSocket" in window) {
        ws = new WebSocket(
          "ws://" +
          host +
          "/socketServer/" + username
        );
      } else if ("MozWebSocket" in window) {
        ws = new MozWebSocket(
          "ws://" +
          host +
          "/socketServer/" + username
        );
      } else {
        alert("该浏览器不支持websocket");
      }

      ws.onmessage = function (evt) {
        // console.log((evt.currentTarget.url).substring((evt.currentTarget.url).lastIndexOf("/") + 1, (evt.currentTarget.url).length));
     
          //示范一个公告层
          layer.open({
            type: 1
            , title: "强制下线通知" //不显示标题栏
            , closeBtn: false
            , area: '300px;'
            , shade: 0.3
            , id: 'LAY_layuipro' //设定一个id，防止重复弹出
            , btn: ['确定']
            , btnAlign: 'c'
            // , moveType: 0 //拖拽模式，0或者1
            , content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">'+ evt.data+'</div>'
            , yes: function (index,layero) {
              var btn = layero.find('.layui-layer-btn');
              btn.find('.layui-layer-btn0').attr({
                href: host
                , target: 'self'
              });
            }
          });
  
    
      };
   



      $('.layui-btn').on('click', function () {
        var othis = $(this), method = othis.data('method');
        active[method] ? active[method].call(this, othis) : '';
      });

    });
  </script>
</body>

</html>