<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>人事档案阅档端管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="layuiadmin/layui/css/layui.css" media="all">
  <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="layuiadmin/style/admin.css" media="all">
  <script>
    /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
  </script>
  <style>
    .Toplog {
      width: 50px;
      height: 45px;
      float: left;
      margin: 0px;
      margin: 0px;
      margin-left: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      background-image: url(image/danghui.png);
      background-repeat: no-repeat;
      background-size: 35px 35px;
    }
  </style>
</head>

<body class="layui-layout-body">

  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>

          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          <li class="layui-nav-item" lay-unselect>
            <a lay-href="/webviews/app/message/index.html" layadmin-event="message" lay-text="消息中心">
              <i class="layui-icon layui-icon-notice"></i>

              <!-- 如果有新消息，则显示小圆点 -->
              <span class="layui-badge-dot"></span>
            </a>
          </li>
          <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
              <i class="layui-icon layui-icon-theme"></i>
            </a>
          </li> -->
        
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img"> <cite
                th:text=" ${user.userName}"></cite></a>
            <dl class="layui-nav-child">
              <dd><a th:attr="lay-href=@{'/user/personInfo?userId='+${user.userId}}">基本资料</a></dd>
              <dd><a lay-href="/webviews/set/user/password.html">修改密码</a></dd>
              <hr>
              <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
            </dl>
          </li>
       
  
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
              <a href="javascript:;" layadmin-event="note">
                <i class="layui-icon layui-icon-note"></i>
              </a>
          </li>
        </ul>
      </div>

      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="/webviews/home/console.html">
            <div class="Toplog"></div>
            <span>
              干部人事档案系统
            </span>
          </div>

          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
            lay-filter="layadmin-system-side-menu">
            <!-- <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="页面" lay-direction="2">
                <i class="layui-icon layui-icon-template"></i>
                <cite>页面</cite>
              </a>
              <dl class="layui-nav-child">
                <dd><a lay-href="/webviews/template/tips/404.html">404页面不存在</a></dd>
                <dd><a lay-href="/webviews/template/tips/error.html">错误提示</a></dd>
              </dl>
            </li> -->

            <!-- <li data-name="user" class="layui-nav-item">
              <a href="javascript:;" lay-tips="用户" lay-direction="2">
                <i class="layui-icon layui-icon-user"></i>
                <cite>用户</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                     <a th:attr="lay-href=@{/user/userInfo}">网站用户</a>
                </dd>
                <dd>
                  <a lay-href="/webviews/user/administrators/list.html">后台管理员</a>
                </dd>
                <dd>
                  <a lay-href="/webviews/user/administrators/role.html">角色管理</a>
                  <a th:attr="lay-href=@{'/roleInfo}">角色管理</a>
                </dd>
              </dl>
            </li> -->
            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="管理首页" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>管理首页</cite>
              </a>

            </li>
            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="我的待办" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>我的待办</cite>
              </a>
              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">我的消息</a>
                </dd>
              </dl>

              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">我的申请</a>
                </dd>
              </dl>

              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">待办业务</a>
                </dd>
              </dl>

              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">审批记录</a>
                </dd>
              </dl>
            </li>

            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="档案管理" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>档案管理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">案卷管理</a>
                </dd>
              </dl>
            </li>

            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="查借阅申请" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>查借阅申请</cite>
              </a>
              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">查阅申请</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">借阅申请</a>
                </dd>
              </dl>
            </li>

            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="档案转递" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>档案转递</cite>
              </a>
              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">档案转入</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">档案转出</a>
                </dd>
              </dl>
            </li>

            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="散材料" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>散材料</cite>
              </a>
              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">散材料上报</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">散材料归档列表</a>
                </dd>
              </dl>
            </li>

            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="组织架构" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>组织架构</cite>
              </a>
              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a th:attr="lay-href=@{/dept/departmentInfo}">机构管理</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">人员管理</a>
                </dd>
              </dl>
            </li>


            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="历史记录" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>历史记录</cite>
              </a>
              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">查阅记录</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">打印记录</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">借阅记录</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">散材料记录</a>
                </dd>
              </dl>
            </li>

            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="系统管理" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>系统管理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">系统设置</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a th:attr="lay-href=@{/user/userInfo}">用户管理</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">权限管理</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a th:attr="lay-href=@{/log/operlogList}">日志浏览</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">新闻公告</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a href="javascript:;">档案授权</a>
                </dd>
                <dd class="layui-nav-itemed">
                  <a th:attr="lay-href=@{/tool/swagger}" >系统接口</a>
                </dd>
              </dl>
            </li>

            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="系统监控" lay-direction="2">
                <i class="layui-icon layui-icon-video"></i>
                <cite>系统监控</cite>
              </a>
              <dl class="layui-nav-child">
               
                <dd class="layui-nav-itemed">
                  <a th:attr="lay-href=@{/monitor/server}">服务监控</a>
                </dd>
               
              </dl>
            </li>
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="/webviews/home/console.html" lay-attr="/webviews/home/console.html" class="layui-this"><i
                class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>


      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="/webviews/home/console.html" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>

      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="layuiadmin/layui/layui.js"></script>
  <script>
    layui.config({
      base: 'layuiadmin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use('index');
  </script>

  <!-- 百度统计 -->
  <!--   <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script> -->
</body>

</html>