<!--
 * @Descripttion: 
 * @version: 
 * @Author: ZHANGQI
 * @Date: 2020-01-08 08:41:52
 * @LastEditors: ZHANGQI
 * @LastEditTime: 2020-01-08 08:55:11
 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>干部人事档案查阅审批表</title>
<link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
<!-- <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
<link rel="stylesheet" href="/css/zTreeStyle.css" media="all">
<link rel="stylesheet" href="/css/metroStyle.css" type="text/css"> -->
<style>
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .layui-input-block{
        margin-left: 50px;
    }
    .layui-form-checkbox[lay-skin=primary] i {
       width: 13px;
       height: 13px;
    }
    .layui-form-checkbox[lay-skin=primary] span {
        color: #000;
    }
</style>
</head>

<body>
    <div style="width: 100%; margin: 0 auto;">
            <div style="width:100%;height:5%;border:0px;padding:5px 5px 5px 50px;">
                <a href="javascript:history.back(-1)">返回上页 |</a>
                <a href="javascript:prn1_preview()">打印本页</a>
            </div>
            <table width="658" height="805" border="1" cellspacing="0" style="margin:0px auto;margin-bottom: 80px; font-size: 16px;">   
                    <caption style="margin-bottom:30px; font-size: 28px;">干部人事档案查阅审批表</caption>               
                    <tr>
                      <td width="50" valign="bottom" style="border-right: 1px solid #f2f2f2;">项目</td>
                      <td width="50" align="right" valign="top" style="border-left: 1px solid #f2f2f2;">内容</td>
                      <td><div align="center">姓 名</div></td>
                      <td><div align="center">工作单位及职务</div></td>
                      <td><div align="center">政治面貌</div></td>
                    </tr>
                    <tr>
                      <td colspan="2" rowspan="3" ><div align="center">查阅对象</div></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" rowspan="2"><div align="center">查阅人员</div></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="118" colspan="2"><div align="center">查阅事由</div></td>
                      <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                      <td height="94" colspan="2"><div align="center">查阅内容</div></td>
                      <td colspan="3">
                          <div class="layui-form">
                                <div class="layui-form-item" pane="">
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="查阅" >
                                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="摘录">
                                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="复制" >
                                    </div>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="履历类" >
                                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="自传类">
                                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="鉴定考核类" >
                                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="学历学位类" >
                                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="职称类" >
                                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="鉴定考核类">
                                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="学术类" >
                                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="培训类">
                                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="政审类" >
                                    </div>
                                </div>
                          </div>
                    

                      </td>
                    </tr>
                    <tr>
                      <td height="169" colspan="2"><div align="center">查档处室意见</div></td>
                      <td colspan="3">
                          <span style="padding-left: 400px;">(公章)</span>
                          <div class="layui-row" style="text-align: center;">
                                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;处室负责的同事签字
                              <span style="padding-left: 105px;">年 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 月  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  日  </span>
                          </div>
                      </td>
                    </tr>
                    <tr>
                      <td height="169" colspan="2"><div align="center">部领导意见</div></td>
                      <td colspan="3">&nbsp;
                            <span style="padding-left: 400px;">(公章)</span>
                            <div class="layui-row" style="text-align: center;">
                                  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;分管领导签字
                                <span style="padding-left: 155px;">年 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 月  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  日  </span>
                            </div>
                      </td>
                    </tr>
                  </table>
    </div>
    <script src="/js/jquery-1.4.4.min.js" type="text/javascript" th:inline="none"></script>
    <script src="/js/jquery.ztree.core.js" type="text/javascript" th:inline="none"></script>
    <script src="/layuiadmin/layui/layui.js" type="text/javascript" th:inline="none"></script>
    <script  type="text/javascript" th:inline="none">
       layui.use(["form"],function(){
        var $ = layui.$,
                form = layui.form;
       })
    </script>

</body>
</html>
