<!--
 * @Descripttion: 
 * @version: v0.0.1
 * @Author: ZHANGQI
 * @Date: 2019-12-17 19:08:33
 * @LastEditors  : zgr
 * @LastEditTime : 2020-01-08 09:46:35
 -->
 <!-- 查阅申请 -->
 <!DOCTYPE html>
 <html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
        <th:block th:include="include :: header('服务器监控')" />
        <style>
                body,html{
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    width: 100%;
                    /* border: 1px solid blue; */
                }
               .content{
                   height: calc(100% - 50px);
                   /* border: 3px solid yellow; */
                   width: 100%;
                  overflow-y: scroll;
               }
               .layui-icon-tabs{
                   font-size: 19px;
                   padding-left: 15px;
               }
               .two div{
                   float: left;
               }
               #selectFile{
                 margin-left: 88%;
               }
               /* .layui-btn{
                 background-color: #1e9FFF !important;
               } */
        </style>
</head>

<body> 
        
        <div class="hesder" style="width: 100%;height: 100%;height: 50px;">
                <div style="height: 100%; width: 98%; line-height: 50px;border-bottom : 3px solid #00c0ef;margin: 0 30px;margin: 0 auto;">
                        <span style="font-size: 24px;padding-left: 10px;">
                            查阅申请
                        </span>
                        <span style="font-size: 14px;font-weight: lighter;">单位内部查阅申请</span>
                </div>
        </div>
        <div class="content">
              <div class="two" style="width: 98%;height: 50px;line-height: 50px;margin: 0 auto;font-size: 20px; font-size: 0.1px;color: #cccccc;">
                    <div style="width: 3%;"> ———</div>
                    <div style="width: 8%;color: #676a6c;font-size: 20px;">
                        查档对象
                        <a href="/consult/applyFormPage" target="_self"  ><i class="layui-icon layui-icon-tabs"></i></a>
                    </div>
                    <div  style="width: 88%;height: 100%;overflow: hidden;"> ————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————</div>    
              </div>
              <!-- <div class="layui-upload">
                  <div class="layui-upload-list">
                    <table class="layui-table">
                      <thead>
                        <tr>
                          <td>姓名</td>
                          <td>工作职务</td>
                          <td>政治面貌</td>
                          <td>操作</td>
                      </tr>
                      </thead>
                      <tbody id="personList"></tbody>
                    </table>
                  </div>
                  <button type="button" class="layui-btn layui-btn-xm" style="margin-left: 95%;" data-type="selectPerson">选择</button>
                </div>  -->
     
              <!-- 人员表格 -->
               <div class="personTable"> 
                    <table id="inputTable" lay-filter="inputTable" class="layui-hide"></table>
                    <script type="text/html" id="table-toolbar" th:inline="none">
                        <!-- <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a> -->
                        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</a>
                    </script>
                    <button type="button" class="layui-btn layui-btn-sm" style="margin-left: 97%;" data-type="selectPerson">选择</button>
               </div>
               <!-- 查档信息 -->
               <div class="two" style="width: 98%;height: 50px;line-height: 50px;margin: 0 auto;font-size: 20px; font-size: 0.1px;color: #cccccc;"> 
                    <div style="width: 3%;"> ———</div>
                    <div style="width: 6%;color: #676a6c;font-size: 20px;">
                        查档信息
                    </div>
                    <div  style="width: 91%;height: 100%;overflow: hidden;"> ————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————</div>    
               </div>
               <!--具体查档人员的信息 -->
               <form class="layui-form layui-form-pane" action="" style="padding: 0 20px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">查档人员1</label>
                        <div class="layui-input-inline">
                            <input type="text" name="infoName1"   autocomplete="off" placeholder="请输入标题" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                             <input type="text" name="work1"   autocomplete="off" placeholder="工作单位及职务" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                                <select name="quiz2">
                                    <option value="">请选择</option>
                                    <option value="杭州">中共党员</option>
                                    <option value="温州">中共预备党员</option>
                                </select>
                        </div>
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn layui-btn-xm select" style="margin-left: 25%;"  typeSelect="one"  data-type="selectPersonInfo">选择</button>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">查档人员2</label>
                        <div class="layui-input-inline">  
                            <input type="text" name="infoName2"  autocomplete="off" placeholder="姓名" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                                <input type="text" name="work2" autocomplete="off" placeholder="工作单位及职务" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                                <select name="quiz2">
                                    <option value="">请选择</option>
                                    <option value="杭州">中共党员</option>
                                    <option value="温州">中共预备党员</option>
                                </select>
                        </div>
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn layui-btn-xm select" style="margin-left: 25%;"  typeSelect="two" data-type="selectPersonInfo" >选择</button>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">查档理由</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" placeholder="输入或选择查档理由">
                        </div>
                    </div>
                    
                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">查阅类别</label>
                        <div class="layui-input-block">
                            <input type="radio" name="sex" value="男" title="纸质" checked="">
                            <input type="radio" name="sex" value="女" title="电子">
                        </div>
                    </div>
                    
                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">查阅动作</label>
                        <div class="layui-input-block">
                                <input type="checkbox" name="like[write]" title="查询">
                                <input type="checkbox" name="like[read]" title="摘录">
                                <input type="checkbox" name="like[daze]" title="复制">
                        </div>
                    </div>
                    
                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">查档内容</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="like1[write]" lay-skin="primary" title="履历类" checked="">
                            <input type="checkbox" name="like1[read]" lay-skin="primary" title="自传类">
                            <input type="checkbox" name="like1[game]" lay-skin="primary" title="鉴定考核类" disabled="">
                            <input type="checkbox" name="like1[game]" lay-skin="primary" title="学历学位类" >
                            <input type="checkbox" name="like1[game]" lay-skin="primary" title="职称类" >
                            <input type="checkbox" name="like1[game]" lay-skin="primary" title="鉴定考核类">
                            <input type="checkbox" name="like1[game]" lay-skin="primary" title="学术类" >
                            <input type="checkbox" name="like1[game]" lay-skin="primary" title="培训类">
                            <input type="checkbox" name="like1[game]" lay-skin="primary" title="政审类" >
                        </div>
                    </div>

                    <!-- layui-form-text -->
                    <div class="layui-form-item "  pane="">
                      <label class="layui-form-label">备注</label>
                      <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                      </div>
                    </div>
                    
                    <!-- <div class="layui-form-item">
                      <button class="layui-btn" lay-submit="" lay-filter="demo2">跳转式提交</button>
                    </div> -->

                    <!-- 附件上传 -->
                  <div class="two" style="width: 98%;height: 50px;line-height: 50px;margin: 0 auto;font-size: 20px; font-size: 0.1px;color: #cccccc;">
                      <div style="width: 3%;"> ———</div>
                      <div style="width: 8%;color: #676a6c;font-size: 20px;">
                          附件上传
                      </div>
                      <div  style="width: 88%;height: 100%;overflow: hidden;"> ————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————</div>    
                    </div>
                  <!-- 附件表格 -->
                  <div class="layui-upload" style="margin-bottom:50px">
                    <div class="layui-upload-list">
                      <table class="layui-table">
                        <thead>
                          <tr><th>文件名</th>
                          <th>大小</th>
                          <th>状态</th>
                          <th>操作</th>
                        </tr></thead>
                        <tbody id="demoList"></tbody>
                      </table>
                    </div>
                    <button type="button" class="layui-btn layui-btn-xm" id="selectFile">选择文件</button> 
                    <button type="button" class="layui-btn layui-btn-xm" id="startUpload">开始上传</button>
                  </div>   

                  <div class="layui-form-item layui-inline">
                      <button type="button" lay-submit class="layui-btn layui-btn-xm" id="stagingsubmit" lay-filter="stagingsubmit"  style="margin-left: 30px;">暂存</button> 
                      <button type="button" lay-submit class="layui-btn layui-btn-xm" id="submit" lay-filter="submit"  style="margin-left: 15px;">提交</button> 
                      <!-- <button type="button" class="layui-btn layui-btn-xm" lay-submit style="margin-left: 30px;" id="borrowsubmit" lay-filter="borrowsubmit">借阅</button>  -->
                  </div>
                  
                  <!-- <div style="position: absolute;bottom: 10px;">
                    <button type="button" class="layui-btn layui-btn-xm" style="margin-left: 30px;">暂存</button> 
                    <button type="button" class="layui-btn layui-btn-xm" style="margin-left: 15px;">提交</button> 
                  </div> -->

               </form>
            
        </div>
       
        
       
<script type="text/javascript" th:inline="none">

var inlineInfo = null
layui.config({
      base: '../layuiadmin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(["table", "form", "util", "laydate","upload","index"], function() {
        var $ = layui.$,
                form = layui.form,
                table = layui.table,
                laydate = layui.laydate,
                upload = layui.upload,
                util = layui.util;

        table.render({
          elem: "#inputTable",
                even: true,
                title: "用户数据表",
                method: "get",
                id: "inputTable",
                cellMinWidth:80,
                contentType:"application/json",
                data:[],
                cols: [ [
                         {
                                 field: "personalId",
                                 title: "id",
                                 align: "center",
                                 hide:true
                         },
                         {
                                 field: "personalName",
                                 title: "姓名",
                                 align: "center",
                         },
                         {
                                 field: "workDuty",
                                 title: "工作单位及职务",
                                 align: "center",
                         },
                         {        
                                 field: "politicalOutlook",
                                 title: "政治面貌",
                                 align: "center",
                         },
                         {
                                 fixed: "right",
                                 title: "操作",
                                 width: 310,
                                 align: "center",
                                 toolbar: "#table-toolbar"
                         }
                 ]
         ],
            response: {
                    statusName: "code", //数据状态的字段名称，默认：code'<div>{{ layui.util.toDateString(d.starttime, "yyyy-MM-dd HH:mm:ss") }}</div>'
                    statusCode: 200, //成功的状态码，默认：0
                    msgName: "msg", //状态信息的字段名称，默认：msg
                    countName: "count", //数据总数的字段名称，默认：count
                    dataName: "data" //数据列表的字段名称，默认：data
            },
        })

        // 选择文件
        var demoListView = $('#demoList')
          ,uploadListIns = upload.render({
            elem: '#selectFile'
            ,url: '/upload/'
            ,accept: 'file'
            ,multiple: true
            ,auto: false
            ,bindAction: '#startUpload'
            ,choose: function(obj){   
              var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
              //读取本地文件
              obj.preview(function(index, file, result){
                var tr = $(['<tr id="upload-'+ index +'">'
                  ,'<td>'+ file.name +'</td>'
                  ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                  ,'<td>等待上传</td>'
                  ,'<td>'
                    ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                    ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                  ,'</td>'
                ,'</tr>'].join(''));
                
                //单个重传
                tr.find('.demo-reload').on('click', function(){
                  obj.upload(index, file);
                });
                
                //删除
                tr.find('.demo-delete').on('click', function(){
                  delete files[index]; //删除对应的文件
                  tr.remove();
                  uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                });
                
                demoListView.append(tr);
              });
            }
            ,done: function(res, index, upload){
              if(res.code == 0){ //上传成功
                var tr = demoListView.find('tr#upload-'+ index)
                ,tds = tr.children();
                tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                tds.eq(3).html(''); //清空操作
                return delete this.files[index]; //删除文件队列已经上传成功的文件
              }
              this.error(index, upload);
            }
            ,error: function(index, upload){
              var tr = demoListView.find('tr#upload-'+ index)
              ,tds = tr.children();
              tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
              tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
      });

      //监听暂存
      form.on('submit(stagingsubmit)', function (data) {
            console.log(data.field);
            return false;
      });
      // 提交查档信息
      form.on('submit(submit)', function (data) {
            console.log(data.field);
            return false;
      });
      //监听工具条删除
      table.on("tool(inputTable)", function (obj) {
              var data = obj.data;
              if (obj.event === 'delete') {
                      layer.confirm('真的删除行么', function (index) {
                                  layer.close(index);
                                  $.post("/dict/dictDataRemove", { ids: data.dictCode }, function (resultJSONObject) {
                                          if (resultJSONObject.success) {
                                                  obj.del();
                                                  tableLoad(table);
                                          } 
                                          layer.msg(resultJSONObject.msg);
                                  }, "json");
                          });
              } else if (obj.event === "edit") {
              layer.open({
                type: 2,
                title: "字典数据编辑",
                maxmin: true,
                area: ["500px", "100%"],
                btn: ["确定", "取消"],
                fixed: true,
                shadeClose: false,
                shade: 0.2,
                moveType: 1, //拖拽模式，0或者1
                content: "/dict/dictDataFormPage?dictCode=" + data.dictCode,
                yes: function (index, layero) {
                  var iframeWindow = window["layui-layer-iframe" + index],
                    submitID = "dictFormSubmit",
                    submit = layero
                      .find("iframe")
                      .contents()
                      .find("#" + submitID);
                  //监听提交
                  iframeWindow.layui.form.on(
                    "submit(" + submitID + ")",
                    function (dataLog) {
                      var field = dataLog.field;
                            if (field.status == "true")
                                field.status = true;
                        else
                                field.dataType = false;
                      //获取提交的字段
                      //提交 Ajax 成功后，静态更新表格中的数据
                      $.ajax({
                        type: "post",
                        url: "/dict/dictDataEdit",
                        data: JSON.stringify(field),
                        dataType: "json",
                        contentType: "application/json;charset-UTF-8",
                        success: function (resultJSONObject) {
                          if (resultJSONObject.success) {
                            tableLoad(table);
                          }
                          layer.msg(resultJSONObject.msg);
                        }
                      });
                      layer.close(index); //关闭弹层
                    }
                  );
                  submit.trigger("click");
                }
              });
              }
         });
      //监听搜索查询条件
      form.on('submit(dict-front-search)', function (data) {
          var field = data.field;

          //执行重载
          table.reload('inputTable', {
            where: field
          });
        });

      tableReloadData = [];
      //批量删除事件
      var active = {
          batchdel: function () {
            //两种方式
            var checkStatus = table.checkStatus('inputTable')
              , checkData = checkStatus.data; //得到选中的数据
            if (checkData.length === 0) {
              return layer.msg('请选择数据');
            }
            //捉到所有被选中的，发异步进行删除
            var ids = "";
            if (checkData.length > 0) {
              for (var i = 0; i < checkData.length; i++) {
                ids += checkData[i].dictCode + ",";
              }
            }
            layer.confirm('确定删除吗？', function (index) {
              //执行 Ajax 后重载
              $.ajax({
                type: "post",
                url: "/dict/dictDataRemove",
                data: { "ids": ids },
                success: function (data) {
                  if (data.success) {
                    tableLoad(table);
                  }      
                    layer.msg(data.msg);
                  
                }
              });
            });

          }
          , add: function () {
            layer.open({
              type: 2
              , title: "字典基础数据新增"
              , content: '/dict/dictDataFormPage?dictType='+$("#dictType").val()
              , maxmin: true
              , moveType: 1 //拖拽模式，0或者1
              , area: ['500px', '100%']
              , skin: 'layer_bg' //layer_bg是自定义的css样式
              , shade: 0.2
              , fixed: true
              , shadeClose: true//开启遮罩关
              , btn: ['确定', '取消']
              , yes: function (index, layero) {
                var iframeWindow = window['layui-layer-iframe' + index]
                  , submitID = 'dictFormSubmit'
                  , submit = layero.find('iframe').contents().find('#' + submitID);
                  
                      //监听提交
                iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                  var field = data.field; //获取提交的字段
                                                                  if (field.status == "true")
                                                                                      field.status = true;
                                                                              else
                                                                                      field.status = false;

                                                  
                  //提交 Ajax 成功后，静态更新表格中的数据
                  $.ajax({
                    type: "post",
                    url: "/dict/dictDataInsert",
                    data: JSON.stringify(field),
                    dataType: "json",
                    contentType: "application/json;charset-UTF-8",
                    success: function (resultJSONObject) {
                      if (resultJSONObject.success) {
                        tableLoad(table);
                      }      
                      layer.msg(resultJSONObject.msg);
                    }, complete: function () {
                      layer.close(index); //关闭弹层
                    }
                  });
                });

                submit.trigger('click');
              }
            });
          }
          ,selectPerson:function() {
              // 选择查档对象
              layer.open({
              type: 2
              , title: "人员查询"
              , content: '/consult/consultFormPage?ids='+tableReloadData
              , maxmin: true
              , moveType: 1 //拖拽模式，0或者1
              , area: ['700px', '600px']
              , skin: 'layer_bg'//layer_bg是自定义的css样式
              , shade: 0.2
              , fixed: true
              , shadeClose: true//开启遮罩关
              , btn: ['确定', '取消']
              , yes: function (index, layero) {
                var iframeWindow = window['layui-layer-iframe' + index]
                  , submitID = 'consultSubmit'
                  , submit = layero.find('iframe').contents().find('#' + submitID);
                //监听提交
                iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                  var field = data.field; //获取提交的字段
                  var obj = JSON.parse(field.bootString);
                    //执行重载
                  $.each(obj,function(k,v){
                        switch(v.politicalOutlook){
                          case "0" : v.politicalOutlook = "中共党员"; break;
                          case "1" : v.politicalOutlook = "中共预备党员" ;break;
                          case "2" : v.politicalOutlook = "共青团员" ;break;
                          case "3":  v.politicalOutlook = "民革会员" ;break;
                          case "4":  v.politicalOutlook = "民盟盟员" ;break;
                          case "5":  v.politicalOutlook = "民建会员" ;break;
                          case "6":  v.politicalOutlook = "民建进会员" ;break;
                          case "7":  v.politicalOutlook = "农工党党员" ;break;
                          case "8":  v.politicalOutlook = "致公党党员" ;break;
                          case "9":  v.politicalOutlook = "九三学社社员" ;break;
                          case "10" : v.politicalOutlook = "台盟盟员" ;break;
                          case "11" : v.politicalOutlook = "无党派民主人士" ;break;
                          case "12" : v.politicalOutlook = "群众" ;break;
                          case "13" : v.politicalOutlook = "其他" ;break;
                      }
                      tableReloadData.push(v)
                  })
                 
                  console.log(tableReloadData);
                  table.reload("inputTable", {
                      data:tableReloadData
                  });
                  layer.close(index); //关闭弹层

                });
                submit.trigger('click');
              }
            });
          }
          ,selectPersonInfo:function(){
            selectType = $(this).attr("typeSelect")
            //  选择查档人员的信息
            index = layer.open({
              type: 2
              , title: "人员信息查询"
              , method: 'get'
              , content: '/person/personalListPage'
              , maxmin: true
              , moveType: 1 //拖拽模式，0或者1
              , area: ['1200px', '600px']  
              , skin: 'layer_bg'//layer_bg是自定义的css样式
              , shade: 0.2
              , fixed: true
              , shadeClose: true//开启遮罩关
              , btn: ['确定', '取消']
              , yes: function (index, layero) {
                  
                var iframeWindow = window['layui-layer-iframe' + index]
                  , submitID = 'consultSubmit'
                  , submit = layero.find('iframe').contents().find('#' + submitID);
                //监听提交
                iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                  var field = data.field; //获取提交的字段
                  //提交 Ajax 成功后，静态更新表格中的数据
                  $.ajax({
                    type: "post",
                    url: "/dict/dictDataInsert",
                    data: JSON.stringify(field),
                    dataType: "json",
                    contentType: "application/json;charset-UTF-8",
                    success: function (resultJSONObject) {
                      if (resultJSONObject.success) {
                        tableLoad(table);
                      }      
                      layer.msg(resultJSONObject.msg);
                    }, complete: function () {
                      layer.close(index); //关闭弹层
                    }
                  });
                });

                submit.trigger('click');
              }
            });
            
            if(inlineInfo != null){
              alert(111);
            }


          }

        
        
        };

        form.on('switch(stat)', function(data){

              var contexts;
              var sta;
              var x = data.elem.checked;//判断开关状态
              if (x==true) {
                  contexts = "打开";
                  sta=1;
              } else {
                  contexts = "关闭";
                  sta=0;
              }
              var obj = {
                              //上下架的参数
                              "dictCode": data.value,
                              "status":x
                          }
              console.log(data.value)
            //自定义弹窗
            layer.open({
                  content: "你确定要"+contexts+"?"
                  , btn: ['确定', '取消']
                  , yes: function (index, layero) {
                      //按钮确定【按钮一】的回调
                      data.elem.checked = x;
                      //对商品进行上架或下架处理
                      $.ajax({
                          type: "post",
                          url: "/dict/dictDataEdit",
                          data: JSON.stringify(obj),
                          
                          dataType: "json",
                          contentType: "application/json;charset-UTF-8",
                          success: function (data) {
                            layer.msg(data.msg,
                                // 提示的样式
                                {icon: 1, time: 2000,});
                            // 数据重载
                                                                                                          tableLoad(table);
                          }
                        
                      });
                      form.render();
                      layer.close(index);
                  }
                  , btn2: function (index, layero) {
                      //按钮【按钮二】的回调
                      data.elem.checked = !x;
                      form.render();
                      layer.close(index);
                  }
                  , cancel: function () {
                      //右上角关闭回调
                      data.elem.checked = !x;
                      form.render();
                  }
              });
              return false;
          });

          $('.layui-btn').on('click', function () {
              var type = $(this).data('type');
              active[type] ? active[type].call(this) : '';
          });

          
      });
      function tableLoad(table) {
              table.reload(
                "inputTable",
                {
                where: {
                    dictLabel: $("#dictLabel").val()
                }
                },
                "data"
            );
        }
      function GetChildValue(obj){
        if(selectType  == "one"){
          $("input[name=infoName1]").val(obj.personalName);
          $("input[name=work1]").val(obj.workDuty)
        }else if(selectType  == "two"){
          $("input[name=infoName2]").val(obj.personalName);
          $("input[name=work2]").val(obj.workDuty)
        }
        layer.close(index);
      }

     </script>
   </body>
 </html>
 